[submodule "external/lammpstrj-parser"]
	path = external/lammpstrj-parser
	url = git@github.com:kaityo256/lammpstrj-parser.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
